.map-container {
    position: absolute;
    height: 500px;
    width:  800px;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 0;
  }
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 68px;
    margin: 1px;
    background-color:#ffffff ;
    color:  #404040;
    z-index: 1 !important;
    padding: 6px;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    border-radius: 4px;
  }